<a  [routerLink]="['/usuarioform']"
class="btn btn-info">Nuevo</a>

<form class="d-flex">
    <input name="search" [(ngModel)]="search" class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
    <button (click)="buscar()" class="btn btn-outline-success" type="submit">Buscar</button>
  </form>
<table>
    
    <tr>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Telefono</th>
        
    </tr>
    
    <tr *ngFor="let item of lista">
        <td>{{item.usuario}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellidos}}</td>
        <td>{{item.correo}}</td>
        <td>{{item.telefono}}</td>
        <td>
            <a [routerLink]="['/usuarioform/',item.key]">
            <i class="swal2-icon-content"></i>
            editar
            </a>
        </td>
        <td>
            <a href="#"  (click)="borrar($event,item)" >
            <i class="bi bi-square"></i>
            delete
            </a>
        </td>
    </tr>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</table> 
